<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipse Icons Editor"
            id="org.eclipse_icons.editor">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse_icons.editor"
            class="org.eclipse_icons.editor.views.EclipseIconsView"
            icon="icons/iconManager.png"
            id="org.eclipse_icons.editor.views.EclipseIconsEditor"
            name="Icons Manager">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse_icons.editor.label.decorator.IconsFolderLabelDecorator"
            id="org.eclipse_icons.editor.decorator.icons.folder"
            label="Icons Folder"
            state="false">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            Show icons folder image resources.
         </description>
      </decorator>
      <decorator
            class="org.eclipse_icons.editor.label.decorator.IconsLabelDecorator"
            id="org.eclipse_icons.editor.decorator.icons"
            label="Icons"
            state="false">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            Show all image resources as icons.
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse_icons.editor.IconsEditorPart"
            default="false"
            extensions="png,PNG,gif,GIF,bmp,BMP"
            icon="icons/view.gif"
            id="org.eclipse_icons.editor.iconEditor"
            name="Icon Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse_icons.editor"
            name="Icon Editor">
      </category>
      <wizard
            category="org.eclipse_icons.editor"
            class="org.eclipse_icons.editor.wizards.ImageNewWizard"
            icon="icons/newIcon.png"
            id="org.eclipse_icons.editor.wizards.ImageNewWizard"
            name="New png icon">
      </wizard>
   </extension>

</plugin>
