<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Icons Editor"
            id="org.eclipse_icons.editor">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse_icons.editor"
            class="org.eclipse_icons.editor.views.EclipseIconsView"
            icon="icons/iconManager.png"
            id="org.eclipse_icons.editor.views.EclipseIconsEditor"
            name="Icons Manager">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse_icons.editor.label.decorator.IconsFolderLabelDecorator"
            id="org.eclipse_icons.editor.decorator.icons.folder"
            label="Icons Folder"
            state="false">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            Show icons folder image resources.
         </description>
      </decorator>
      <decorator
            class="org.eclipse_icons.editor.label.decorator.IconsLabelDecorator"
            id="org.eclipse_icons.editor.decorator.icons"
            label="Icons"
            state="false">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            Show all image resources as icons.
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse_icons.editor.IconsEditorPart"
            default="false"
            extensions="png,PNG,gif,GIF,bmp,BMP,jpg,JPG,jpeg,JPEG"
            icon="icons/view.gif"
            id="org.eclipse_icons.editor.iconEditor"
            name="Icon Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse_icons.editor"
            name="Icon Editor">
      </category>
      <wizard
            category="org.eclipse_icons.editor"
            class="org.eclipse_icons.editor.wizards.ImageNewWizard"
            icon="icons/newIcon.png"
            id="org.eclipse_icons.editor.wizards.ImageNewWizard"
            name="New png icon">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse_icons.editor.DeleteCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse_icons.editor.iconEditor">
                  </equals>
               </with>
               <with
                     variable="activeEditor">
                  <test
                        property="org.eclipse_icons.editor.propertyTester.hasSelection">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.SelectAllCommandHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.UndoCommandHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.RedoCommandHandler"
            commandId="org.eclipse.ui.edit.redo">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.CopyCommandHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse_icons.editor.iconEditor">
                  </equals>
               </with>
               <with
                     variable="activeEditor">
                  <test
                        property="org.eclipse_icons.editor.propertyTester.hasSelection">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.PasteCommandHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse_icons.editor.CutCommandHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse_icons.editor.iconEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse_icons.editor.EditorPropertyTester"
            id="org.eclipse_icons.editor.propertyTester.hasSelection"
            namespace="org.eclipse_icons.editor.propertyTester"
            properties="hasSelection"
            type="org.eclipse_icons.editor.IconsEditorPart">
      </propertyTester>
   </extension>

</plugin>
